p {
    display: table-cell;
    vertical-align: middle;
    font-family: Verdana;
    font-size: large;
}

#msg_area {
     top:450px; left:0px;
}

.board-outer {
    border-radius: 10px;
    border: 3px black solid;
    background-color: darkslategray;
    position:relative;
    width: 440px;
    height: 440px;
    margin:auto;
}

.board-inner {
    border-radius: 10px;
    background-color: seashell;
    position:relative;
    width: 401px;
    height: 401px;
    margin: auto;
    margin-top: 20px;
}

.piece {
    display: table;
    text-align: center;
    position:absolute; 
    height: 90px;
    width: 90px;
    border-radius: 10px;
    border: 3px dodgerblue solid;
    background-color: skyblue;
    color: navy;
}

.piece:nth-child(odd)
{
    background-color: gold;
    border: 3px sienna solid;
    color: maroon;
}

.button {
    display: table;
    text-align: center;
    position:relative; 
    height: 90px;
    width: 90px;
    border-radius: 100px;
    background-color: menu;
    border: 3px grey solid;
    color: green;
    margin: 20px;
}

.button p {
    font-size: xx-large;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-family: Verdana;
}

.game {
    display: table;
    position: relative;
    margin: auto;
}

#start {
    float: left;
}

#help {
    float: right;
}

