p {
    display: table-cell;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.board-outer {
    border-radius: 10px;
    background-color: darkslategray;
    border: 3px black solid;
    position:relative;
    width: 400px;
    height: 400px;
    margin:auto;
}

.board-inner {
    border-radius: 10px;
    background-color: seashell;
    position:relative;
    width: 362px;
    height: 362px;
    margin: auto;
    margin-top: 20px;
}

.piece {
    display: table;
    text-align: center;
    position:absolute; 
    height: 82px;
    width: 82px;
    border-radius: 10px;
    border: 3px dodgerblue solid;
    background-color: skyblue;
    color: navy;
}

#p1,#p3,#p6,#p8,#p9,#p11,#p14 {
    background-color: gold;
    border: 3px sienna solid;
    color: maroon;
}

#p2,#p4,#p5,#p7,#p10,#p12,#p13,#p15 {
    border: 3px dodgerblue solid;
    background-color: skyblue;
    color: navy;
}

.button {
    display: table;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    width: 60px;
    height: 60px;
    border: 3px darkgray solid;
    border-radius: 60px;
    box-shadow: 0 1px 2px rgba(0,0,0, 0.2);
    margin: 10px;
    cursor: pointer;
}

.button:active {
    position: relative;
    top: 2px; 
    /* inverted gradient */    
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(bottom, rgba(255,255,255,0.67) 0%,rgba(255,255,255,0) 67%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.button p {
    font-size: xx-large;
    font-weight: bold;
}

.gradient {
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.67) 0%,rgba(255,255,255,0) 67%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
 }   

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.game {
    display: table;
    position: relative;
    margin: auto;
}

#start, #help {
    background-color: gray;
}

#start:hover, #help:hover {
    background-color: lightslategray;
}

#output {
    font-size: medium;
    font-weight: normal; 
}

.control {
    border: 3px black solid;
    position:relative;
    width: 400px;
    height: 150px;
    margin:auto;
}